/****
 * for studio12F
 */

/* common */
.l{float:left}.r{float:right}
.c:after{content:'\20';display:block;height:0;clear:both;}.c{*zoom:1;}
#localzoom-viewer {
  background:#FFF;
}
html {
  height: 95%;
  overflow-y: scroll;
}
body {
  height: 100%;
  color:#909090;
  background:#FAFAFA;
}
h1, h2 {
  font-size:bold;
}
h1 a:hover, h2 a:hover {
  text-decoration:none;
}
a {
  color:#2F6796;
text-decoration:none}
a:hover {
  color:#CE1719;
  text-decoration:underline;
}
.entry-title, .entry-title a{font-family:"Microsoft YaHei", Helmet, Freesans, sans-serif; }

.post p {
  margin-bottom:5px;
  line-height:1.4em;
}
.unused .post p {
  text-indent:2em;
}
.aligncenter,
dl.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

body {
  _text-align:center;
}
.page-wrap, #header,  #footer, .home-nav {
  width:960px;
  margin:0 auto;
  _text-align:left;
}

.post::-webkit-scrollbar {
    width: 8px;
}
.post::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #D9D9D9;
}
.post::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #555;
}
.post::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}
.post {
  margin-bottom:10px;
  padding:5px 0;
}
.page-wrap {
  width:945px;
}
.home-content .page-wrap {
  width:750px;
}
.home .page-wrap {
  margin-top:0;
}
.home-content {
  overflow-y:auto;
  min-height:400px;
  position:relative;
}
.home-content .li {
  border-bottom:1px dashed #F0F0F0;
}
.navigation {
  clear:both;
  margin:15px auto 0 auto;
  text-align:right;
}
.prev-posts {
  float:left;
}
.next-posts {
  float:right;
}
/* grid
*/
.col-main {  float:left; width:100%;}
.col-sub, .col-extra { float:left;}

.grid-m0s7 .main-wrap { margin-right: 300px; }
.grid-m0s7 .col-sub { width: 270px; margin-left: -270px; }
.grid-s7m0 .main-wrap { margin-left: 280px; }
.grid-s7m0 .col-sub { width: 230px; margin-left: -100%; }
.grid-m0s12 .main-wrap { margin-right: 480px; }
.grid-m0s12 .col-sub { width: 470px; margin-left: -470px; }
.grid-s7m0 .col-sub {
  _padding-left:40px;
}
.grid-s4m0 .main-wrap { margin-left: 160px; }
.grid-s4m0 .col-sub { width: 150px; margin-left: -100%; }
/* footer
*/
#footer {
  font-size:12px;
  padding-top:5px;
  border-top:1px solid #999;
  width:90%;
  margin:10px auto 0 auto;
  text-align:center;
}
#footer a:hover{text-decoration:underline}
#footer, #footer a {
  color:#9D9D9D;
}
#footer p {
  margin:5px 0;
}
/* header
*/
.home #header {
  padding-top:40px;
}
#header {
  padding-top:20px;
  margin-bottom:10px;
}
#header a:hover {
  text-decoration:none;
}
#header, #header a {
  color:#666;
}
  #header h1 {
    font-size:16px;
  }
  #header img {
    float:left;
    margin-top: 6px;
    margin-right:8px;
  }
  #header small {
    font-size:12px;
    font-weight:normal;
    -webkit-text-size-adjust:none;
  }
  #header div {
    line-height:1.1em;
    font-weight:bold;
    font-size:18px;
  }

.home #imagebox {
  position:relative;
  min-height:400px;
  _height:400px;
  margin-left:40px;
}

.home-nav {
  margin-top:15px;
  position:relative;
  padding-left:160px;
  width:800px;
  min-height:60px;
}
.home-nav .info {
  position:absolute;
  left:0;
}
.page-nav .active a {
  color:#D00007;
}
/* info
 */
.archieve .main-wrap {
  max-height:520px;
  overflow-y:auto;
}
.page-nav h1, .page-nav h1 a {
  color:#3E3E3E;
  font-size:20px;
}
.page-nav ul {
  margin-top:80px;
}
.page-nav .name{
  -webkit-text-size-adjust:none;
  line-height:1.6;
  font-size:9px;
  font-weight:normal;
}
.page_item {
  margin-bottom:10px;
  padding:0 5px;
}
.page_item a {
  font-size:16px;
  font-weight:bold;
  color:#333;/*#9D9D9D;*/
}
.page_item a:hover {
/*  color:#333; */
  color:#F50008;
  text-decoration:none;
}
li.current_page_item a {
  color:#F50008;
}
  #items li {
    float:left;
  }
  #items #back {
    float:right;
  }

.post h1 {
  font-size:24px;
}
.post h2 {
  font-size:20px;
}
.post h3 {
  font-size:16px;
}
.post header {
  color:#333;
  margin-bottom:10px;
}
.post .meta {
  margin-top:8px;
}

.category h3.entry-title {
  display:inline;
  float:left;
}
.category .meta {
  display:inline;
  float:right;
  margin-left:5px;
}
/* book
*/
.category article.category-book {
  margin-left:10px;
  margin-right:10px;
  display:inline;
  float:left;
  position:relative;
  padding-left:110px;
  width:220px;
  height:120px;
  overflow:hidden;
}
.category .category-book .cover {
  position:absolute;
  top:0; left:0;
  width:100px;
}
.category .category-book .cover img {
  width:100%;
  height:auto;
  margin:0 5px 5px 0;
}
.category .category-book .post header {
  margin-bottom:10px;
}
.category .category-book .entry img {
  display:none;
}
.category .category-book .entry p {
  text-indent:0;
}

/* postgraduate
*/
.category article.category-postgraduate {

}

/* home
*/
#stage {
  display: none;
}
#imagebox .label {
  position: absolute;
  height:15px;
  bottom:0;
  left:0;
}
#imagebox .label span {
  position:absolute;
  top:0;
  text-align:center;
  display:inline-block;
}
#imagebox li {

}


/* test
*/